<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <!-- allows child templates to override/extend the head section, including meta tags, links, and styles. -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- enables child templates to set a custom page title. -->
  <title>{% block title %}Weather Station{% endblock %}</title>


  <!-- Google Fonts for better typography -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- Link to custom stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  {% endblock %}
</head>

<body>

  <header>
    <h1 class="app-title">🌦 Raspberry Pi Weather Station</h1>

    <nav class="navbar">
      <!-- Navigation menu providing links to key application sections. -->
      <ul class="navbar">
        <li class="menu"><a href="/live_data">Live data</a></li>
        <li class="menu"><a href="/historical_data">Historical data</a></li>
      </ul>
    </nav>
  </header>

  <!-- This block is the primary content area where child templates insert their main page content. -->
  <main>
    {% block content %}
    {% endblock %}

  </main>

  <footer>
    {% block footer %}
    
    <!-- Warning notice -->
    <p class="warning">⚠️ Caution: Data values may be inaccurate.</p>
    
    <!-- Attribution -->
    <p>Created for a project in course <strong>1DT032 / 1DT086</strong> at <strong>Uppsala University</strong>.</p>

    {% endblock %}
  </footer>

  <!-- link to JavaScript file -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
