{% extends "base.html" %}
{% block title %}Raspberry Pi Weather Station{% endblock %}
{% block head %}
    {{ super() }}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {% for plot_script in plot_scripts %}
      {{ plot_script|indent(4)|safe }}
    {% endfor %}
{% endblock %}

{% block content %}
{{ super() }}
<h1>Historical sensor data</h1>
<form action="{{ url_for("historical_data")}}" method="post">
<label for="last_num_days">Number of days:</label>
<input type="text" id="last_num_days" name="last_num_days" value="{{last_num_days}}">
<button type="submit">Update</button>
{% for plot_div in plot_divs %}
  {{ plot_div|indent(4)|safe }}
{% endfor %}
{% endblock %}
